/* Colors*/
.color1 {
  color: #541902;
}
.color2 {
  color: #803608;
}
.color3 {
  color: #b75f11;
}
.color4 {
  color: #fc991d;
}
.color5 {
  color: #ffe12f;
}

.hero-image {
  background: url(../../image/header/header1.jpg) no-repeat center;
  background-size: cover;
  height: 300px;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text h1 {
  font-size: 5rem;
  text-shadow: 3px 3px 2px #541902;
  color: #ffff;
}

.side-bar {
    margin-bottom: 50px;
    padding-top: 15%;
}

.side-bar .categories-item {
  margin-bottom: 62px;
}

.side-bar .categories-item h4 {
  font-size: 24px;
  color: #803608;
  letter-spacing: 0.2px;
  margin-bottom: 37px;
}

.side-bar .categories-item .categories-list ul li {
  color: #242424;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0.2px;
  list-style: none;
  margin-bottom: 26px;
  position: relative;
}

.side-bar .categories-item .categories-list ul li:after {
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 100%;
  height: 1px;
  background: #f3f3f3;
  content: "";
}

.side-bar .categories-item .categories-list ul li span {
  height: 24px;
  width: 24px;
  display: inline-block;
  line-height: 24px;
  background: #fc991d;
  font-size: 14px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  border-radius: 50%;
  text-align: center;
  float: right;
}

.btn-blog {
  background-color: #fc991d;
  color: white;
}

.blog-post {
  display: flex;
  justify-content: center;
  padding: 5%;
}

.blog-post .blog-pagination a {
  display: inline-block;
  height: 32px;
  width: 32px;
  border: 1px solid #fc991d;
  line-height: 31px;
  text-align: center;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #fc991d;
  margin-right: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.blog-post .blog-pagination a:hover,
.blog-post .blog-pagination a.active {
  background: #fc991d;
  color: #ffffff;
}
