/* Colors*/
.color1 {color: #541902;}
.color2 {color: #803608;}
.color3 {color: #b75f11;}
.color4 {color: #fc991d;}
.color5 {color: #ffe12f;}

.mainMenu ul li:hover a {
	color: #fc991d;
	text-decoration: none;
}

.mainMenu ul li a {
	list-style: none;
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: 400;
	color: #803608;
	letter-spacing: 0.5px;
}
